#header,#title_bar,#footer,#progress_bar,#progress_text,#gateway_step,.noprint,.button_container,#register_header,#loading,.flash{display:none}#container,#container2,#content{width:100%;margin:0;float:none}.lighttext{color:#000}
