<h2 class="modal_heading">Current Availability by Week and Site</h2>
<p>Below is the current information on availability at all of our summer sites. You may proceed to register a group in any session that has enough open spaces to accommodate your group.</p>  
<p>Please call the SSP office (916-488-6441) if you have any questions or special considerations. We will do our best to work with you to get your group registered!</p>
<%= render :partial => 'availability_table' %>
<p>Junior high sessions are highlighted in green.</p>