<p><%= @limit_text %></p>
<input type = "hidden" name="group_limit" value="<%= @limit %>" />
<input type = "hidden" name="site_text" value="<%= @site_text %>" />
<input type = "hidden" name="group_type_name" value="<%= @group_type_name %>" />
