<input type = "hidden" name="save_status" id= "save_status value="<%= @registration_saved %>" />
<input type ="hidden" name="registration_id" id="registration_id" value="<%= @registration_id %>" />
<div id="save_message"><%= @message %></div>
