<input type = "hidden" name="site_name" value="<%= @registration_saved %>" />
<input type = "hidden" name="registration_id" value="<%= @registration_id %>" />
<h4 id="save_message"><%= @message %></h4>
