<div id="active_admin_content"  class="with_sidebar">
  <div id="main_content_wrapper">
    <div class="panel">

      <p>You have been temporarily blocked from using this application because the system is undergoing maintenance.</p>

    </div>
 </div>
 </div>

